<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">9100</defaultcontrol>
    <controls>
        <include>GlobalBackground</include>
        <include>Furniture_Header</include>
        <include>Furniture_Clock</include>
        <include>Furniture_NowPlaying</include>
        <include>Furniture_Weather</include>
        <control type="group">
            <left>SidePad</left>
            <width>1760</width>
            <top>PosterPad</top>
            <height>652</height>
            <include>Animation.Common</include>
            <!--<control type="image">
                <width>100%</width>
                <height>100%</height>
                <texture border="5" colordiffuse="PanelFull">common/box.png</texture>
            </control>-->
            <control type="group">
                <top>10</top>
                <bottom>10</bottom>
                <right>10</right>
                <left>1160</left>
                <!--<control type="image">
                    <visible>false</visible>
                    <width>100%</width>
                    <height>100%</height>
                    <texture border="5" colordiffuse="PanelWhite12">common/box.png</texture>
                </control>-->
                <control type="textbox">
                    <top>30</top>
                    <bottom>30</bottom>
                    <right>30</right>
                    <left>30</left>
                    <align>left</align>
                    <font>Tiny</font>
                    <textcolor>PanelWhite100</textcolor>
                    <label>$INFO[Container(9100).ListItem.Label2]</label>
                </control>
            </control>
            <control type="group" description="lines">
                <control type="image">
                    <left>575</left>
                    <width>1</width>
                    <top>11</top>
                    <bottom>11</bottom>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>
                <control type="image">
                    <left>1150</left>
                    <top>11</top>
                    <bottom>11</bottom>
                    <width>1</width>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>
                <!--<control type="image">
                    <left>10</left>
                    <top>10</top>
                    <right>10</right>
                    <height>1</height>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>
                <control type="image">
                    <left>10</left>
                    <bottom>10</bottom>
                    <right>10</right>
                    <height>1</height>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>-->
               
            </control>
            <control type="Panel" id="9100">
                <top>5</top>
                <left>0</left>
                <width>1770</width>
                <height>650</height>
                <oninfo condition="String.StartsWith(Container.FolderPath,plugin://plugin.program.advanced.launcher/)">SetFocus(9601)</oninfo>
                <onleft>9100</onleft>
                <onright>9100</onright>
                <ondown>9100</ondown>
                <onup>9100</onup>
                <preloaditems>2</preloaditems>
                <pagecontrol>60</pagecontrol>
                <orientation>vertical</orientation>
                <viewtype label="537">list</viewtype>
                <scrolltime tween="quadratic">400</scrolltime>
                <itemlayout height="130" width="885">
                    <control type="image">
                        <left>0</left>
                        <right>10</right>
                        <height>120</height>
                        <texture border="5" colordiffuse="White12">common/box.png</texture>
                    </control>
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <width>100</width>
                        <height>100</height>
                        <texture colordiffuse="Background">common/white100.png</texture>
                    </control>
                    <control type="image">
                        <left>15</left>
                        <top>15</top>
                        <width>90</width>
                        <height>90</height>
                        <aspectratio scalediffuse="false">keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <left>130</left>
                        <top>10</top>
                        <right>40</right>
                        <height>100</height>
                        <aligny>center</aligny>
                        <font>SmallBold</font>
                        <textcolor>White100</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                </itemlayout>

                <focusedlayout height="130" width="885">
                    <control type="image">
                        <left>0</left>
                        <right>10</right>
                        <height>120</height>
                        <texture border="5" colordiffuse="White100">common/box.png</texture>
                    </control>
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <width>100</width>
                        <height>100</height>
                        <texture colordiffuse="Background">common/white100.png</texture>
                    </control>
                    <control type="image">
                        <left>15</left>
                        <top>15</top>
                        <width>90</width>
                        <height>90</height>
                        <aspectratio scalediffuse="false">keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <left>130</left>
                        <top>10</top>
                        <right>40</right>
                        <height>100</height>
                        <aligny>center</aligny>
                        <font>SmallBold</font>
                        <textcolor>Dark1</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>14206</label>
                        <icon>DefaultAddonVisualization.png</icon>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
                    </item>
                    <item id="2">
                        <label>166</label>
                        <icon>DefaultAddonSkin.png</icon>
                        <onclick>activatewindow(SkinSettings)</onclick>
                    </item>
                    <item id="3">
                        <label>16003</label>
                        <icon>DefaultIconPlay.png</icon>
                        <onclick>activatewindow(PlayerSettings)</onclick>
                    </item>
                    <item id="4">
                        <label>14202</label>
                        <icon>DefaultSets.png</icon>
                        <onclick>activatewindow(LibrarySettings)</onclick>
                    </item>
                    <item id="5">
                        <label>Live TV</label>
                        <icon>DefaultTVShows.png</icon>
                        <onclick>activatewindow(TVSettings)</onclick>
                    </item>
                    <item id="6">
                        <label>13000</label>
                        <icon>DefaultProgram.png</icon>
                        <onclick>activatewindow(SystemSettings)</onclick>
                    </item>
                    <item id="7">
                        <label>705</label>
                        <icon>DefaultAddonService.png</icon>
                        <onclick>activatewindow(ServiceSettings)</onclick>
                    </item>
                    <item id="8">
                        <label>13200</label>
                        <icon>DefaultActor.png</icon>
                        <onclick>activatewindow(Profiles)</onclick>
                    </item>
                    <item id="9">
                        <label>24001</label>
                        <icon>DefaultAddon.png</icon>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                    </item>
                    <item id="10">
                        <label>130</label>
                        <icon>DefaultHardDisk.png</icon>
                        <onclick>activatewindow(systeminfo)</onclick>
                    </item>
                    
                    
                    
                </content>
            </control>
            
        </control>
    </controls>

</window>
